// .animated-router-outlet ~ * {
//   position: absolute;
//   width: 100%;
// }

.main-container {
  // width: $container-width;
  padding: $spacing 3 * $spacing;
  margin: auto;
  margin-bottom: 3 * $spacing;

  // @include respond-to('small') {
  //   max-width: 100%;
  // }
}

.main-loader-wrapper {
  width: 100%;
  margin-top: 12rem;
}

.thumbs-list {
  display: grid;
  grid-gap: 1.5 * $spacing;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
}

.image-rounded {
  width: 100%;
  border-radius: .5rem;
}
