// General colors
$color-white: #fff;
$color-black: #000;
$color-white-smoke: #f5f6f7;
$color-gray: #828a92;
$color-darkgray: #333;
// $color-lightgray: #ececee;
$color-lightgray: #cdcdcd;
$color-mediumgray: #8A8A8A;

// Font
$font-family: 'PT Sans', serif;
$base-font-size: 1rem;
// $base-font-size: .85rem;

// Sizes
$spacing: 1rem;
$container-width: 40rem;
$topbar-height: 4rem;

// Easing
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);

// Breakpoints
// @import '~src/assets/scss/breakpoints';
