<div class="main-loader-wrapper" *ngIf="!photo">
  <app-loader></app-loader>
</div>
<div class="main-container" *ngIf="photo">
  <div class="photo inner" [ngClass]="{'is-vertical': isVertical}">
    <div class="left">
      <img
        [ngClass]="{'is-loaded': isLoaded}"
        [src]="photo.photoUrl"
        alt=""
      >
    </div>
    <div class="right">
      <app-photo-infos
        [title]="photo.title._content"
        [description]="photo.description._content"
        [tags]="tags"
        [time]="time"
        [contrast]="contrast"
        [aperture]="aperture"
      ></app-photo-infos>
    </div>
  </div>
</div>
