@import '~src/assets/scss/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2 * $spacing;
  height: $topbar-height;
  border-bottom: 1px solid $color-lightgray;
}

.title {
  font-size: 2rem;
}
