<div class="modal">
  <div class="overlay" (click)="close()"></div>
  <div class="dialog">
    <button class="close-button" (click)="close()"><i class="material-icons">close</i></button>
    <div class="left" #left>
      <app-image [src]="imageSrc" [width]="photo.width_m" [height]="photo.height_m"></app-image>
    </div>
    <div class="right" #right>
      <app-photo-infos
        [title]="photo.title"
        [description]="photo.description._content"
        [tags]="tags"
        [time]="time"
        [contrast]="contrast"
        [aperture]="aperture"
      ></app-photo-infos>
    </div>
  </div>
</div>
