@import '~src/assets/scss/variables';

.header {
  // padding: 0 3rem;
  // height: $topbar-height;
  // border-bottom: 1px solid $color-lightgray;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: baseline;
}

.title {
  font-size: 2rem;
  // margin-right: $spacing;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.album-title {
  font-size: 1.1rem;
}
